.foto-perfil {
    border-radius: 5%;
    max-width: 200px; 
    box-shadow: 10px 5px 5px rgb(71, 70, 70);
}


#inicio {
    padding: 20px;
    text-align: center;
    color: white;
    background: gray;
    box-shadow: 10px 5px 5px rgb(209, 209, 209);

}

#Objetivo {
    padding: 20px;
    text-align:left;
    color: white;
    background: rgb(190, 181, 181);
    box-shadow: 10px 5px 5px rgb(209, 209, 209);

}

#Informações {
    padding: 20px;
    text-align:left;
    color: black;
    background: whitesmoke;
    box-shadow: 10px 5px 5px rgb(209, 209, 209);

}

#Histórico {
    padding: 20px;
    text-align:left;
    color: white;
    background: rgb(190, 181, 181);
    box-shadow: 10px 5px 5px rgb(209, 209, 209);

}

#Atividades {
    padding: 20px;
    text-align:left;
    color: black;
    background: whitesmoke;
    box-shadow: 10px 5px 5px rgb(209, 209, 209);

}